/* Place CSS styles here */
@keyframes sway  {
    0% { transform: rotate(8deg); }
    50% { transform: rotate(-8deg); }
    100% { transform: rotate(8deg); }
}


.object {
  animation: sway 2.4s infinite;
  animation-timing-function: ease-in-out;
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  transform-origin: top;
}

.object-shape {
  width: 120px;
  height: 54px;
  display: block;
  margin: 0 auto;
  position: relative;
  
}

.object-shape img {
  width: 120px;

}

.object-rope {
  height: 182px;
  width: 1px;
  background-color: #000000;
  content:"";
  display: block;
  margin-left: 50%;
  bottom: 54px;
}

.fade-element {
  opacity: 0;
  background-color: peachpuff;
  display: inline-flex;
  padding: 20px;
  animation: fadeInFadeOut 2s infinite;
}
